/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Condensed);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    /*line-height: 1.5;*/
    /*color: var(--text-color);
    background: var(--bg-color);*/
    position: relative;
}

/*
header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}
*/

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.header__vg {
  /*background-color: #eaeaea;*/
  text-align: center;
}

.header__vg h1 {
  margin: 0;
  padding-top: 0.5rem;
  /*padding-bottom: 0.5rem;*/
  font-size: 5.5em;
  font-family: 'Cinzel', cursive;
  font-weight:700;
}

.header__vg .right_side {
  float: right;
}

.header__vg .sub {
  border-top: 1px solid #fafafa;
  display: grid;
  grid-template-columns: 200px 1fr;  
}

.header__vg .currentdate {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: 500;
}

.header__vg .button {
  text-align: right;
}

.header__vg button {
  border: none;
  background-color: white;
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 3.0rem;
  font-size: 0.8em;
  font-weight: 700;
}

.header__vg button:hover {
  background-color: #eaeaea;
}

.header__vg button:checked {
  border: none;
}


.thumbnail {
  position: relative;
  width: 85px;
  height: 85px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.thumbnail img {
  position: absolute;
  left:50%;
  top:50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

h3 { margin: 0px; margin-top: 8px; margin-bottom: 8px; }
.feedname { font-size: 0.9em; color: #0099CC; font-weight: bold; }
.linktitle { margin-bottom: 0.4rem; }
.linktitle a { font-size: 1.0em; text-decoration: none; font-size: 0.8em; color:#494949; line-height: 0.5rem; }
.separator { margin-bottom: 4px; }

.slideup, .slidedown {
  max-height: 0;            
  overflow-y: hidden;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

.slidedown {            
  max-height: 800px;
}

img {
  width: 100%;
  height: auto;
}

.news-container {
  padding-left:10%;
  padding-right:20%;
  padding-top: 1.0rem;
  background: #f8f8f8;
}

.news-container .wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.news-container .newsbox {
  border: 1px solid #eaeaea;
  margin-bottom: 1.0rem;
  background-color: #ffffff;
}

.news-container .newsimage {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  /*margin-top: 0.5rem;*/
}

.news-container .newsimage img {
  position: absolute;
  left:50%;
  top:50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}

.news-container .newsimage img.portrait {
  width: 100%;
  height: auto;
}

.news-container .newsbody {
  padding-left: 1.0rem;
  padding-right: 1.0rem;
}

.news-container h1 { margin-top: 0.2rem; color:#494949; font-family: 'Encode Sans Condensed', Arial, Helvetica, sans-serif; font-size: 1.75rem; }
.news-container h2 { margin-top: 0.2rem; color:#494949; font-family: 'Encode Sans Condensed', Arial, Helvetica, sans-serif; font-size: 1.2rem; }
.news-container .footnote { text-align: right; font-size: 0.8rem; }

.news-container a { text-decoration: none; color:#222; }

.res-title {
  font-family: 'Encode Sans Condensed', Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  padding-top: 0.5rem;
  margin-bottom: 1.0rem;
}

.resday { padding: 1.0rem; }
.resday .pure-g { margin-bottom: 0.5rem; }
.resday a { font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 1.2em; text-decoration: none; color:#292929; line-height: 0.5rem; font-weight: 500; }

.resday .wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.resday .newsbox {
  margin-bottom: 1.0rem;
  background-color: #ffffff;
  /*padding-left: 1.0rem;*/
}

.resday .newsimage {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  /*margin-top: 0.5rem;*/
}

.resday .newsimage img {
  position: absolute;
  left:50%;
  top:50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}

.resday .newsimage img.portrait {
  width: 100%;
  height: auto;
}

.resday .newsbody {
  padding-left: 1.0rem;
  padding-right: 1.0rem;
}

/*
.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
}
*/

/*
@media only screen and  (max-width: 568px)  { 
  .movil100 { width : 100%; }
  h2 { font-family: 'Comfortaa'; color:#585858; margin-left: 0.2em; margin-right: 0.2em; } 
  h2 a { font-size:0.8em; }  
  .header { text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 2.0em; border-bottom: 1px solid #eaeaea; }  
  .textcont { font-family: 'Raleway'; margin-top: 5px; margin-left: 0.3em; margin-right: 0.3em; font-size: 1.0em;  text-align: justify; text-justify: inter-word;  }   
  .textcont-noimage { font-family: 'Raleway'; margin-top: 5px; margin-left: 0.3em; margin-right: 0.3em; font-size: 1.0em; text-align: justify; text-justify: inter-word;  }  
  .textblock { letter-spacing : 0; }  
  .textblock span { font-size : 0.8em; color:#0099CC; font-weight : bold; }  
  .footnote { margin-left: 0.4em; margin-right: 0.3em; font-size: 0.8em; }  
  .fecha { font-size : 1.3em; background-color : #eaeaea; text-align:center; padding-top:1.0em; padding-bottom:1.0em; }  
  .thumbnail { position: relative;  width: 150px; height: 150px; overflow: hidden; margin-top:0.5em; } 
  .thumbnail img { position: absolute; left: 50%; top: 50%; height: 100%; width: auto; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); } 
  .thumbnail img.portrait { width: 100%; height: auto; }  
}

@media only screen and (min-width: 569px)  { 
  .imgcont { height: 170px; }  
  h2 { font-family: 'Comfortaa'; color:#585858; }  
  .header { text-align: center; padding-top: 40px; padding-bottom: 40px; font-size: 4.0em; border-bottom: 1px solid #eaeaea; }  
  .textcont { font-family: 'Raleway'; margin-top: 0px; margin-left: 1.0em; font-size: 1.1em;  text-align: justify; text-justify: inter-word;   }   
  .textcont-noimage { font-family: 'Raleway'; margin-top: 0px; margin-left: 0.0em; font-size: 1.1em;  text-align: justify; text-justify: inter-word;   }  
  .textblock { position: relative; min-height: 100px; }  
  .textblock span { font-size : 0.8em; color:#0099CC; font-weight : bold; }  
  .footnote { position: absolute; bottom: 0px; right: 25px; font-size: 0.8em; }  
  .fecha { font-size : 2.0em; background-color : #eaeaea; text-align:center; } 
}
*/